/* Webfont: Viktorie */@font-face {
    font-family: 'Viktorie';
    src: url('Viktorie.eot'); /* IE9 Compat Modes */
    src: url('Viktorie.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Viktorie.woff') format('woff'), /* Modern Browsers */
         url('Viktorie.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Viktorie.svg#Viktorie') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

